body { background: #ad6643; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 49px; display: flex; }
.block-logger-0 { color: #6d5c2b; font-size: 13px; margin-bottom: 5px; }
.block-uploader-1 { color: #3be60b; font-size: 16px; margin-bottom: 5px; }
.block-notify-2 { color: #f2130b; font-size: 14px; margin-bottom: 5px; }
.block-metrics-3 { color: #5731df; font-size: 17px; margin-bottom: 5px; }
.block-cluster-4 { color: #208370; font-size: 12px; margin-bottom: 5px; }